<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css?v=1.0.1" />
        <script src="/javascripts/sumoselect.min.js"></script>
        <link href="/stylesheets/sumoselect.min.css?v=1.0.01" rel="stylesheet" type="text/css">
    </head>
<body>
  <script>
	  var articleData = [];
    $(function(){
		$('#searchFormSubmit').click(function(){
			event.preventDefault();
			var selectedSources = $(".newsSourceSelect option:selected").map(function(){return this.value}).get().join(', ');
			var queryVal = $("#query").val().replace(/(<([^>]+)>)/ig,"").replace(/[_\W]+/g, "");
			if(!selectedSources)
				return false;
			$.get('/query', {'q' : queryVal, 'sources': selectedSources}, function(data){
				if(data.status === 'ok'){
					$('#news_output').empty();
					if(data.totalResults === 0)
						$('#news_output').append('<h2 style="text-align:center;width:100%;">No articles found.</h2>');
					else
						getArticles(data.articles);
				}
			});
		});

      function getArticles(data){
		var data = data ? data : <%- JSON.stringify(data.articles) %>;
        data.forEach(function(value){
			if(!value.urlToImage)
				return true;
          	$('#news_output').append("<li><a class='article-more-info' href='" + value.url + "' target='_blank'><div class='content-div'><img src='" + value.urlToImage + "'><br><span class='title'>" + value.source.name + "</span><br><div class='news-content'><span class='article-title'>" + value.title + "</span><br><span class='description'>" + value.description + "</span></div></div></a></li>");
		});

	}

	$('.sumoSelect').SumoSelect({
			search: true,
			placeholder: 'Select one or more sources...',
			searchText: 'Type to Search...',
			okCancelInMulti: true,
			selectAll: true,
		});

	$('.loading-message').fadeIn("slow");

	setTimeout(function(){
		$('.loading-message').fadeOut("fast");
		getArticles();
	}, 2000);
	
	});
	
	</script>
	<div class="main-container">
		<form id="newsSearch">
			<input class="form-field-text" type="text" name="query" id="query" placeholder="Search top headlines...">
			<select class="sumoSelect newsSourceSelect" multiple="multiple">
				<option name="source" value="associated-press">Associated Press</option>
				<option name="source" value="bbc-news">BBC</option>
				<option name="source" value="cnn">CNN</option>
				<option name="source" value="espn">ESPN</option>
				<option name="source" value="fortune">Fortune</option>
				<option name="source" value="fox-news">Fox News</option>
				<option name="source" value="google-news">Google News</option>
				<option name="source" value="the-huffington-post">The Huffington Post</option>
				<option name="source" value="ign">IGN</option>
				<option name="source" value="the-verge">The Verge</option>
				<option name="source" value="the-wall-street-journal">The Wall Street Journal</option>
				<option name="source" value="the-washington-post">The Washington Post</option>
				<option name="source" value="time">Time</option>
				<option name="source" value="wired">Wired</option>
			</select>
			<buttton onclick="javascript:void(0)" id="searchFormSubmit" class="searchFormSubmit">Search</buttton>
		</form>
		<div class="the-rest-of-the-story">
			<a style='text-align:right;margin-left:10px;font-size:80%;' href='https://newsapi.org' target='_blank'>Powered by News API</a>
			<h1 class="loading-message">Gathering New Headlines For You...</h1>
			<ul id="news_output"> </ul>
		</div>
	</div>
</body>

</html>