.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

body{
  font-family: sans-serif;
  background:	url('/images/dust_scratches.png') repeat;
}

#news_output{
  display:flex;
  align-items:stretch;
  flex-wrap: wrap;
  margin-left:-45px;
}

#news_output li{
  background-color:#FFF;
  display:inline-block;
  vertical-align: top;
  padding:10px;
  position: relative;
  box-shadow: 1px 1px 5px #666;
  margin:1px 2px;
  border-radius:5px;
  cursor: pointer;
  min-height:345px;
}

#news_output li:hover{
  opacity: 0.8;
}

.title{
  font-size:120%;
  font-weight:bold;
  text-align: right;
  position: absolute;
  margin-top:-30px;
  color:white;
  text-shadow: 2px 2px 5px #000;
  right:20px;
}

.news-content{
  margin-top:-15px;
  position: relative;
}

.news-content .article-title{
  text-transform: uppercase;
  text-decoration: none;
  font-weight:bold;
  text-align: justify;
  color:	#000080;
  margin-bottom:-10px;
  display:block;
}

.form-field-text{
  height:50px;
  width:40%;
  font-size:18px;
  vertical-align: top;
}

.form-field-text::placeholder{
  color:#ccc;
  font-style:italic;
  font-size:17px;
  padding:5px 8px;
}

.searchFormSubmit{
  background-color:#4CAF50;
  border:none;
  color:#fff;
  padding: 19.5px 15px;
  font-size:14px;
  text-decoration:none;
  vertical-align: top;
  display:inline-block;
  text-align:center;
}

.searchFormSubmit:active{
  background-color:#3e8e41;
  box-shadow: 0 1px #666;
  transform:translateY(1px);
}

.searchFormSubmit:focus{
  outline:0;
}

.SumoSelect {
  font-family:sans-serif;
  width:40% !important;
}

.SumoSelect>.CaptionCont {
  min-height: 44px;
  line-height: 44px;
}

.SumoSelect.open .search-txt {
  font-size:16px !important;
}

.more-info{
  height: 95vh;
  width: 92vw;
  position: fixed;
  top:10px;
  display:none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000;
  background-color:#fff;
  z-index:100;
  margin-left:2.5%;
  margin-right:2.5%;
  overflow:scroll;
  padding:25px;
}

.article-more-info{
  height:100%;
  width:100%;
  display:block;
  cursor: pointer;
  text-decoration: none;
  color:#000;
}

.content-div{
  width:300px;
}

.content-div img{
  width:100%;
}

@media only screen and (max-width:600px){
  .content-div{
    width:100%;
  }
  .SumoSelect{
    width:100% !important;
  }
  .form-field-text{
    width:94.5%;
    height:30px;
    margin-bottom:7px;
  }
  .searchFormSubmit{
    width: 91.5% !important;
    display:block;
    margin-top:2px;
    padding:10px 15px;
  }

  .SumoSelect>.CaptionCont {
    min-height: 24px;
    line-height: 24px;
  }
}
